<div data-controller="modal" class="carousel-container">
  <div  class="carousel-thumbnail" >
    <% if event_image.image_url(:thumb).present? %>
      <img 
          src="<%= event_image.image_url(:thumb) %>" 
          data-action="click->modal#openImage"  
          data-image-url="<%=event_image.image_url(:filtered) %>"
          data-original-image-url="<%= event_image.image_url(:original) %>"
      />
      <button class="thumbnail-delete-button" data-action="click->carousel#deleteImage"
      data-event-id="<%= event_image.event_id%>" data-image-id="<%= event_image.id %>">×</button>
    <% else %>
      <div class="bg-gray-200 w-full h-full flex items-center justify-center text-gray-500 text-sm rounded-lg border">
        No Image
      </div>
     <% end %>
  </div>
  <div class="image-modal hidden" data-action="click->modal#closeImage" data-modal-target="imageContainer">
    <img src="" alt="Full-size image" class="image-modal-content" data-modal-target="image">
    <div class="modal-buttons">
      <button class="btn original-btn" data-action="click->modal#showOriginal" data-modal-target="originalButton">Original</button>
      <button class="btn download-btn" data-action="click->modal#downloadImage">Download</button>
      <button class="btn delete-btn" data-action="click->modal#deleteImage">Trash</button>
    </div>
  </div>
</div>
